<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,800;0,900;1,200;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Homemade+Apple&family=Kristi&family=Reenie+Beanie&display=swap"
    rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"></script>
  <title>Document</title>
  <style>
      /* variables */

:root {
    --back: radial-gradient(83.74% 125.72% at 78.3% 10.6%, #3D225C 39.4%, rgba(61, 34, 92, 0) 85.27%), #1C123B;
    --white: #ffffff;
    --color: #ef4393;
    --backBoton: #1C7872;
}

/* layout general */
* {
    font-family: poppins;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    background: var(--back);
    color: white;
    font-family: poppins;
}

/* titulos */
h1 {
    color: var(--color);
    font-size: 1.5em;
}

h2 {
    color: var(--color);
    font-size: 2em;
    text-align: center;

}

.titulo {
    height: 60px;
    background-color: var(--color);
    margin-left: 30px;
    padding: 0px 30px 0px 30px;
}

/* header-nav */
nav {
    background: var(--back);
    width: 100%;
}

.silenced {
    background-color: var(--color);
    color: white;
    height: 50px;
    font-size: 30px;
    /*  font-family: 'Beth Ellen', cursive; */
    font-family: 'Homemade Apple', cursive;
    /* font-family: 'Kristi', cursive; */
    /* font-family: 'Reenie Beanie', cursive; */
}

nav>ul>li {
    display: inline-block;
    color: aqua;
    text-decoration: none;
    margin: 0 10px 0 10px;
}

nav>ul>li>a {
    text-decoration: none;
    color: white;
}

nav>ul>li>a:hover {
    background-color: var(--color);
    text-decoration: underline;
    cursor: pointer;
}


nav>ul>li>a {
    margin-right: 22px;
}

img {
    width: 100%;
    height: 400px;
    margin-top: -8px;
    position: relative;
    z-index: 3;
    border-bottom: 2px solid white;
}

hr {
    margin-top: -2px;
    position: relative;
    z-index: 3;
}
.subrayado {
    width: 35%;
    margin-bottom: 50px;

}

placeholder {
    margin-left: 5px;
}

/*redes sociales*/
.redes>ul>li {
    display: inline-block;
    list-style: none;
    padding: 0.625rem;
}

.fa-twitter {
    color: turquoise;
}

.fa-facebook-f {
    color: turquoise;
}

.fa-pinterest {
    color: red;
}

.fa-instagram {
    color: blueviolet;
}

.fa-google-plus-g {
    color: red;
}

/* footer */
footer {
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
    height: 150px;
}
.autor {
    margin-top: 40px;
}
footer>ul>li>a {
    text-decoration: none;
    color: white;
}

footer>ul>li {
    text-decoration: none;
    list-style: none;
}
/* grafica */
.myChartDiv {
    max-width: 600px;
    max-height: 400px;
    background-color: white;
    position: relative;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    margin-top: 50px;
}

#myChart {
    color: white;
    background-color: white;
}


/* opinion */
.opinion {
    border: 3px solid white;
    border-radius: 30px;
    width: 300px;
    margin: 20px;
    padding: 10px;

}
.tamañoOpinion {
    height: 60px;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
}

.tamañoOpinion:hover {
    height: 200px;

}

.descript {
    opacity: 0;
    width: 150px;
    border: 4px solid white;
    border-radius: 10px;
    padding: 10px;

    height: 50px;
    margin-top: 25px;
    position: relative;
    bottom: 56px;
    left: 140px;
    z-index: 99;
    background-color: black;
    font-size: 0.6rem;
}

.descript>div {
    text-align: justify;
    text-justify: inter-word;
    overflow: hidden;
}

.descript>div>div {
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    position: absolute;
    z-index: -9;
    background-color: black;
    border-top: 4px solid white;
    border-left: 4px solid white;
    top: -13px;
    left: 18px;
}

/* form */
.buscador {
    border: 3px solid white;
    width: 70%;
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.campo {
    width: 250px;
    border-radius: 20px;
    height: 30px;

}

.area {
    width: 250px;
    border-radius: 20px;
    height: 200px;
}

label {
    margin-left: 10px;
}
/* botones */
.botonGraficas>li {
    display: inline-block;
}

.botonGraficas>li>button>a {
    text-decoration: none;
    color: white;
}

.botonGraficas {
    border: 3px solid white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;

}

.boton {
    border-radius: 20px;
    color: white;
    background-color: var(--backBoton);
    height: 40px;
    width: 150px;
    margin: 15px;
    border: 2px solid white
}

.boton:hover {
    border: 5px solid white;
    cursor: pointer;
    text-decoration: underline;


}

.noOpinion {
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.botonPeq {
    border-radius: 20px;
    color: white;
    background-color: var(--backBoton);
    height: 40px;
    width: 80px;
    margin: 15px;
}

a {
    color: white;
}

button>a {
    text-decoration: none;
}
/* cajas */
.log {
    border: 3px solid white;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 230px;
    margin-top: 100px;
    padding: 80px;
}

.log2 {
    border: 3px solid white;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 320px;
    margin-top: 100px;
    padding: 120px;
}

.caja {
    border: 3px solid white;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 50px;
    margin-top: 100px;
    padding: 30px;
}

/* media queries */
@media screen and (max-width: 620px) {

    .caja,
    .log,
    .log2 {
        width: 70%;
    }
}

/* flex */

.flexyRow-evenly {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flexyCol-evenly {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flexyCol-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.flexyRow-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flexyRow-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
</style>
</head>
<body>
    <nav class="flexyRow-between">
        <div class="titulo flexyCol-center">
            <h1 class="silenced">Silenced</h1>
        </div>
        
        <ul class="flexyRow-spacebetween">
                <li><a href="/">Home</a></li>
                <li><a href="/opiniones">Opiniones</a></li>
                <li><a href="/graficas">Graficas</a></li>
        </ul>  
      
        <!-- menú registro/login -->
        <ul class="perfil">
            <% if (user ){ %>
                <!-- solo debe verse al estar logueado -->
                <li><a href="/perfil">Perfil</a></li>
                <li><a href="/logout">Salir</a></li>
            <% } else { %>
                <!-- registro y login se ocultan al estar logueado -->
                <li><a href="/registro">Registro</a></li>
                <li><a href="/login">Login</a></li>
            <% } %>
        </ul>
    </nav>
    <hr>
    <h2>Editar perfil</h2>
    <hr class="subrayado">
    <form action="/editarPerfil/<%= data.id %>" method="post" class="log flexyCol-center">
        <p>
            <label for="usuario">Usuario</label><br>
            <input type="text" name="usuario" value="<%= data.usuario %>" class="campo">  
        </p>
        <p>
            <label for="nombre">Nombre</label><br>
            <input type="text" name="nombre" value="<%= data.nombre %>" class="campo">
        </p>
        <p>
            <label for="apellidos">Apellidos</label><br>
            <input type="text" name="apellidos" value="<%= data.apellidos %>" class="campo">
        </p>
        <p>
            <label for="email">Email</label><br>
            <input type="text" name="email" value="<%= data.email %>" class="campo">
        </p>
        <p>

        
        <label for="pais">Pais</label><br>
        <select id="country" name="pais" value="<%= data.pais %>" class="campo"> <br>
            <option value="Afghanistan">Afghanistan</option>
            <option value="Åland Islands">Åland Islands</option>
            <option value="Albania">Albania</option>
            <option value="Algeria">Algeria</option>
            <option value="American Samoa">American Samoa</option>
            <option value="Andorra">Andorra</option>
            <option value="Angola">Angola</option>
            <option value="Anguilla">Anguilla</option>
            <option value="Antarctica">Antarctica</option>
            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
            <option value="Argentina">Argentina</option>
            <option value="Armenia">Armenia</option>
            <option value="Aruba">Aruba</option>
            <option value="Australia">Australia</option>
            <option value="Austria">Austria</option>
            <option value="Azerbaijan">Azerbaijan</option>
            <option value="Bahamas">Bahamas</option>
            <option value="Bahrain">Bahrain</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Barbados">Barbados</option>
            <option value="Belarus">Belarus</option>
            <option value="Belgium">Belgium</option>
            <option value="Belize">Belize</option>
            <option value="Benin">Benin</option>
            <option value="Bermuda">Bermuda</option>
            <option value="Bhutan">Bhutan</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
            <option value="Botswana">Botswana</option>
            <option value="Bouvet Island">Bouvet Island</option>
            <option value="Brazil">Brazil</option>
            <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
            <option value="Brunei Darussalam">Brunei Darussalam</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Burkina Faso">Burkina Faso</option>
            <option value="Burundi">Burundi</option>
            <option value="Cambodia">Cambodia</option>
            <option value="Cameroon">Cameroon</option>
            <option value="Canada">Canada</option>
            <option value="Cape Verde">Cape Verde</option>
            <option value="Cayman Islands">Cayman Islands</option>
            <option value="Central African Republic">Central African Republic</option>
            <option value="Chad">Chad</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <option value="Christmas Island">Christmas Island</option>
            <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
            <option value="Colombia">Colombia</option>
            <option value="Comoros">Comoros</option>
            <option value="Congo">Congo</option>
            <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
            <option value="Cook Islands">Cook Islands</option>
            <option value="Costa Rica">Costa Rica</option>
            <option value="Cote D'ivoire">Cote D'ivoire</option>
            <option value="Croatia">Croatia</option>
            <option value="Cuba">Cuba</option>
            <option value="Cyprus">Cyprus</option>
            <option value="Czech Republic">Czech Republic</option>
            <option value="Denmark">Denmark</option>
            <option value="Djibouti">Djibouti</option>
            <option value="Dominica">Dominica</option>
            <option value="Dominican Republic">Dominican Republic</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Egypt">Egypt</option>
            <option value="El Salvador">El Salvador</option>
            <option value="Equatorial Guinea">Equatorial Guinea</option>
            <option value="Eritrea">Eritrea</option>
            <option value="Estonia">Estonia</option>
            <option value="Ethiopia">Ethiopia</option>
            <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
            <option value="Faroe Islands">Faroe Islands</option>
            <option value="Fiji">Fiji</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="French Guiana">French Guiana</option>
            <option value="French Polynesia">French Polynesia</option>
            <option value="French Southern Territories">French Southern Territories</option>
            <option value="Gabon">Gabon</option>
            <option value="Gambia">Gambia</option>
            <option value="Georgia">Georgia</option>
            <option value="Germany">Germany</option>
            <option value="Ghana">Ghana</option>
            <option value="Gibraltar">Gibraltar</option>
            <option value="Greece">Greece</option>
            <option value="Greenland">Greenland</option>
            <option value="Grenada">Grenada</option>
            <option value="Guadeloupe">Guadeloupe</option>
            <option value="Guam">Guam</option>
            <option value="Guatemala">Guatemala</option>
            <option value="Guernsey">Guernsey</option>
            <option value="Guinea">Guinea</option>
            <option value="Guinea-bissau">Guinea-bissau</option>
            <option value="Guyana">Guyana</option>
            <option value="Haiti">Haiti</option>
            <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
            <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
            <option value="Honduras">Honduras</option>
            <option value="Hong Kong">Hong Kong</option>
            <option value="Hungary">Hungary</option>
            <option value="Iceland">Iceland</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
            <option value="Iraq">Iraq</option>
            <option value="Ireland">Ireland</option>
            <option value="Isle of Man">Isle of Man</option>
            <option value="Israel">Israel</option>
            <option value="Italy">Italy</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Japan">Japan</option>
            <option value="Jersey">Jersey</option>
            <option value="Jordan">Jordan</option>
            <option value="Kazakhstan">Kazakhstan</option>
            <option value="Kenya">Kenya</option>
            <option value="Kiribati">Kiribati</option>
            <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
            <option value="Korea, Republic of">Korea, Republic of</option>
            <option value="Kuwait">Kuwait</option>
            <option value="Kyrgyzstan">Kyrgyzstan</option>
            <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
            <option value="Latvia">Latvia</option>
            <option value="Lebanon">Lebanon</option>
            <option value="Lesotho">Lesotho</option>
            <option value="Liberia">Liberia</option>
            <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
            <option value="Liechtenstein">Liechtenstein</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Macao">Macao</option>
            <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of
            </option>
            <option value="Madagascar">Madagascar</option>
            <option value="Malawi">Malawi</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Maldives">Maldives</option>
            <option value="Mali">Mali</option>
            <option value="Malta">Malta</option>
            <option value="Marshall Islands">Marshall Islands</option>
            <option value="Martinique">Martinique</option>
            <option value="Mauritania">Mauritania</option>
            <option value="Mauritius">Mauritius</option>
            <option value="Mayotte">Mayotte</option>
            <option value="Mexico">Mexico</option>
            <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
            <option value="Moldova, Republic of">Moldova, Republic of</option>
            <option value="Monaco">Monaco</option>
            <option value="Mongolia">Mongolia</option>
            <option value="Montenegro">Montenegro</option>
            <option value="Montserrat">Montserrat</option>
            <option value="Morocco">Morocco</option>
            <option value="Mozambique">Mozambique</option>
            <option value="Myanmar">Myanmar</option>
            <option value="Namibia">Namibia</option>
            <option value="Nauru">Nauru</option>
            <option value="Nepal">Nepal</option>
            <option value="Netherlands">Netherlands</option>
            <option value="Netherlands Antilles">Netherlands Antilles</option>
            <option value="New Caledonia">New Caledonia</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Nicaragua">Nicaragua</option>
            <option value="Niger">Niger</option>
            <option value="Nigeria">Nigeria</option>
            <option value="Niue">Niue</option>
            <option value="Norfolk Island">Norfolk Island</option>
            <option value="Northern Mariana Islands">Northern Mariana Islands</option>
            <option value="Norway">Norway</option>
            <option value="Oman">Oman</option>
            <option value="Pakistan">Pakistan</option>
            <option value="Palau">Palau</option>
            <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
            <option value="Panama">Panama</option>
            <option value="Papua New Guinea">Papua New Guinea</option>
            <option value="Paraguay">Paraguay</option>
            <option value="Peru">Peru</option>
            <option value="Philippines">Philippines</option>
            <option value="Pitcairn">Pitcairn</option>
            <option value="Poland">Poland</option>
            <option value="Portugal">Portugal</option>
            <option value="Puerto Rico">Puerto Rico</option>
            <option value="Qatar">Qatar</option>
            <option value="Reunion">Reunion</option>
            <option value="Romania">Romania</option>
            <option value="Russian Federation">Russian Federation</option>
            <option value="Rwanda">Rwanda</option>
            <option value="Saint Helena">Saint Helena</option>
            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
            <option value="Saint Lucia">Saint Lucia</option>
            <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
            <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
            <option value="Samoa">Samoa</option>
            <option value="San Marino">San Marino</option>
            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
            <option value="Saudi Arabia">Saudi Arabia</option>
            <option value="Senegal">Senegal</option>
            <option value="Serbia">Serbia</option>
            <option value="Seychelles">Seychelles</option>
            <option value="Sierra Leone">Sierra Leone</option>
            <option value="Singapore">Singapore</option>
            <option value="Slovakia">Slovakia</option>
            <option value="Slovenia">Slovenia</option>
            <option value="Solomon Islands">Solomon Islands</option>
            <option value="Somalia">Somalia</option>
            <option value="South Africa">South Africa</option>
            <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich
                Islands</option>
            <option value="Spain">Spain</option>
            <option value="Sri Lanka">Sri Lanka</option>
            <option value="Sudan">Sudan</option>
            <option value="Suriname">Suriname</option>
            <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
            <option value="Swaziland">Swaziland</option>
            <option value="Sweden">Sweden</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Syrian Arab Republic">Syrian Arab Republic</option>
            <option value="Taiwan">Taiwan</option>
            <option value="Tajikistan">Tajikistan</option>
            <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
            <option value="Thailand">Thailand</option>
            <option value="Timor-leste">Timor-leste</option>
            <option value="Togo">Togo</option>
            <option value="Tokelau">Tokelau</option>
            <option value="Tonga">Tonga</option>
            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
            <option value="Tunisia">Tunisia</option>
            <option value="Turkey">Turkey</option>
            <option value="Turkmenistan">Turkmenistan</option>
            <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
            <option value="Tuvalu">Tuvalu</option>
            <option value="Uganda">Uganda</option>
            <option value="Ukraine">Ukraine</option>
            <option value="United Arab Emirates">United Arab Emirates</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="United States">United States</option>
            <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Uzbekistan">Uzbekistan</option>
            <option value="Vanuatu">Vanuatu</option>
            <option value="Venezuela">Venezuela</option>
            <option value="Viet Nam">Viet Nam</option>
            <option value="Virgin Islands, British">Virgin Islands, British</option>
            <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
            <option value="Wallis and Futuna">Wallis and Futuna</option>
            <option value="Western Sahara">Western Sahara</option>
            <option value="Yemen">Yemen</option>
            <option value="Zambia">Zambia</option>
            <option value="Zimbabwe">Zimbabwe</option>
        </select>
        </p>
        <p>
            <label for="ciudad">Ciudad</label> <br>
            <input type="text" name="ciudad" value="<%= data.ciudad %>" class="campo">
        </p>
        <p>
            <input type="submit" class="boton">
        </p>
        <% if (errors) { %>
            <div>
                <ul>
                    <% for( let i = 0 ; i < errors.length; i++) { %>
                    <li> <%= errors[i].msg %></li>
                    <% } %>
                </ul>
            </div>
            <% } %>
    </form>
    

<footer>
    <div  class="redes"> 
        <ul>
            <li><a href="https://twitter.com" target="blank" > <i class="fab fa-twitter opac"></i></a></li>
            <li><a href="https://facebook.com" target="blank"><i class="fab fa-facebook-f opac"></i> </a></li>
            <li><a href="https://pinterest.com" target="blank"><i class="fab fa-pinterest opac"></i> </a></li>
            <li><a href="https://instagram.com" target="blank"><i class="fab fa-instagram opac"></i></a></li>
            
        </ul>
    </div>
    <div class="autor flexyRow-center">
        <h4>Pedro Martinez Bañon ©2022</h4>
    </div>
</footer>
</body>
</html>