<%- include('./layout/header') %>
<%- include('./partials/nav') %>
    <form action="/editarPassword/<%= data.id %>" method="post">
        <p>
            <label for="password">Contraseña actual</label><br>
            <input type="text" name="password" >  
        </p>
        <p>
            <label for="nuevoPassword">Nueva contraseña</label><br>
            <input type="text" name="nuevoPassword" >
        </p>
        <p>
            <label for="repeticionNuevoPassword">Repite nueva contraseña</label> <br>
            <input type="text" name="repeticionNuevoPassword">
        </p>
        <p>
            <input type="submit">
        </p>
        <% if (errors) { %>
            <div>
                <ul>
                    <% for( let i = 0 ; i < errors.length; i++) { %>
                    <li> <%= errors[i].msg %></li>
                    <% } %>
                </ul>
            </div>
            <% } %>
    </form>
    
    <%- include('./layout/footer') %>