<%- include('./layout/header') %>
    <%- include('./partials/nav') %>
        <h2>Graficas</h2>
        <hr class="subrayado">
        <div id="app">

        </div> 
        <ul class="botonGraficas flexyRow-evenly">
            <li><button class="boton"> <a href="/amazon">amazon</a></button></li>
            <li><button class="boton"><a href="/tripadvisor">tripadvisor</a></button></li>
            <li><button class="boton"><a href="/google">google</a></button></li>
            <li><button class="boton"><a href="/aliexpress">aliexpress</a></button></li>
            <li><button class="boton"><a href="/trivago">trivago</a></button></li>
        </ul>

        
            <div class="myChartDiv">
                <canvas id="myChart" width="600" height="400" "></canvas>
            </div>
        


        <script>
            /* variables */
            let fecha2 = [];
            let data2 = [];
            let arrSuma = []
            let suma = 0
            /* recibimos opiniones y separamos por comas */
            const data = "<%= data.arrOpiniones %>".split(',')
            console.log("dataaaaaaaaaaaaaaaaaaa", data)
            /* recibimos fechas y separamos por comas */
            let fecha = "<%= data.arrFechas %>".split(',')
            
            if (data.length > 0) {
                console.log("dataaaaaaaaaaaaaaaaaaa", fecha)
                /* recortamos la fecha */
                for (let i = 0; i < fecha.length; i++) {
                    fecha2.push(fecha[i].substring(0, 25))
                }
                console.log('fecha22222', fecha2)
                /* convertimos dato a entero y le sumamos todos los anteriores, despues lo pusheamos, de esta forma, la grafica es ascendente e incremental */
                for (const dato of data) {
                    if (dato != null) {
                        typeof (dato)
                        let n = parseInt(dato)
                        suma += n
                        arrSuma.push(suma)
                    }

                    console.log('arrsuma', arrSuma)
                }

                console.log(data2)
                var ctx = document.getElementById("myChart");
                var myChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        /* le pasamos la fecha como etiqueta y punto donde dibujar grafica */
                        labels: fecha2,
                        datasets: [
                            {
                                label: "# of Votes",
                                /* le pasamos el array incremental */
                                data: arrSuma
                            }
                        ]
                    },
                    options: {
                        scales: {
                            y: {
                                ticks: {
                                    beginAtZero: true,
                                    
                                }
                            }
                        }
                    }
                })
                /* si no hay criticas en la bbdd nos muestra esto */
            }else{
                const para = document.createElement("h2");
                para.innerHTML="NO HAY CRITICAS SOBRE ESTA PLATAFORMA"
                document.body.appendChild(para);
                
            }
        </script>

        <%- include('./layout/footer') %>