<%- include('./layout/header') %>
<%- include('./partials/nav') %>
<img src="images/kristina-flour-BcjdbyKWquw-unsplash (1).jpg" alt="">
  <h2>Ultimas opiniones</h2>
  <hr class="subrayado">
  <% if(data.length > 0) { %>
    <section class="flexyRow-evenly">
        <% for ( let i= 0; i < data.length; i++) { %>
            <% if(i > data.length -13) { %>
                <div class="opinion flexyCol-center">
                    <h3> <%= data[i].titulo %> </h3>
                    <h4><%= data[i].usuario %> </h4>
                    <h4> <%= data[i].plataforma %> </h4>
                    <h4> <%= data[i].valoracionNegativa %> </h4>
                    <div class="tamañoOpinion">
                        <%= data[i].opinion %>
                    </div>
                    <h5> <%= data[i].CREATED_AT %> </h5>
                </div>
            <% } %>
        <% } %>
    </section>
    
<% }else{ %>
    <h3>No hay opiniones, escribe la primera</h3>
<% } %>


<%- include('./layout/footer') %>
